.cart-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
  border: 0px;
  width: 6vw;
  background-color: #709f41;
  color: white;
  height: 3.4vh;
  margin-top: 16px;
}
.cart-btn p {
  font-size: 1rem;
}

.icon {
  font-size: 20px;
  color: white;
  transition: transform 0.6s ease-in-out;
  z-index: 44;
  margin-bottom: 8px;
}

.icon:hover {
  animation: rotate-animation 1s infinite;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

