.listings {
  padding: 5px;
  display: flex;
  margin: 10px 100px;
  gap: 35px;
  height: 5vh;
  background-color:#f2f2f2;
  border-radius: 5px;
}
.categoryBtn{
  margin-top: 1px;
  border: 0px;
}

.list {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 4vh;
  gap: 100px;

}

.list-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 5px;
  position: relative;
  left: 10px;
}
